<a target="_blank" href="https://colab.research.google.com/github/PythonVersusR/basicDataStructures_lists/blob/main/R_Python_Lists.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>


# Lists in R and Python-- Alejandro Huaman / 20203800

In [ ]:
## if needed, run this and RESTART KERNEL
# import os
# os.environ['R_HOME'] ='/Library/Frameworks/R.framework/Resources'

In [ ]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

## 1. Creating

In [ ]:
namesP=["Gloria", "Wilhelm", "Natasha", "Rafael","Harry","Sadio","Rajesh","Carlos"]
agesP=[20,17,30,25,29,30,35,70]
countryP=["Perú", "Suecia", "Rusia", "Colombia","Inglaterra","Senegal","India","España"]
civil_estatusP=["Casada", "Soltero", "Soltero", "Casado","Viudo", "Casado","Soltero","Casado"]

In [ ]:
type(namesP)

list

In [ ]:
namesP

['Gloria',
 'Wilhelm',
 'Natasha',
 'Rafael',
 'Harry',
 'Sadio',
 'Rajesh',
 'Carlos']

In [ ]:
%%R
namesR=list("Gloria", "Wilhem", "Natasha", "Rafael","Harry","Sadio","Rajesh","Carlos")
agesR=list(20,17,30,25,29,30,35,70)
countryR=list("Perú", "Suecia", "Rusia", "Colombia","Inglaterra","Senegal","India","España")
civil_estatusR=list("Casada", "Soltero", "Soltero", "Casado","Viudo", "Casado","Soltero","Casado")

In [ ]:
%%R
typeof(namesR)

[1] "list"

In [ ]:
%%R
namesR

[[1]]
[1] "Gloria"

[[2]]
[1] "Wilhem"

[[3]]
[1] "Natasha"

[[4]]
[1] "Rafael"

[[5]]
[1] "Harry"

[[6]]
[1] "Sadio"

[[7]]
[1] "Rajesh"

[[8]]
[1] "Carlos"

## 2. Accessing

In [ ]:
# las posiciones en python comienzan en 0
agesP[0]

20

In [ ]:
type(agesP[0])

int

In [ ]:
%%R
agesR[[1]]

[1] 20

In [ ]:
%%R
typeof(agesR[[1]])

[1] "double"

In [ ]:
%%R
agesR[1]

[[1]]
[1] 20

In [ ]:
%%R
typeof(agesR[1])

[1] "list"

In [ ]:
#penultimo elemento
countryP[-2]

'India'

In [ ]:
%%R
tail(countryR,2)

[[1]]
[1] "India"

[[2]]
[1] "España"

### Slices

In [ ]:
# consecutive
agesP[2:7] #segundo al séptimo

[30, 25, 29, 30, 35]

In [ ]:
%%R
agesR[2:4]

[[1]]
[1] 17

[[2]]
[1] 30

[[3]]
[1] 25

In [ ]:
# Números no consecutivos según intervalos
agesP[1:8:3] # uno al ocho en intervalos de 3 en 3

[17, 29, 70]

In [ ]:
%%R
agesR[seq(1,8,2)] #secuencia del primero al octavo de 2 en 2

[[1]]
[1] 20

[[2]]
[1] 30

[[3]]
[1] 29

[[4]]
[1] 35

In [ ]:
# elegir los elementos de la 1era linea según la definión de la 2da linea
keepIndex=[0, 4, 3]
[namesP[i] for i in keepIndex]

['Gloria', 'Harry', 'Rafael']

In [ ]:
%%R
agesR[c(1,4,3)]

[[1]]
[1] 20

[[2]]
[1] 25

[[3]]
[1] 30

## Replacing

### by Position

In [ ]:
countryP[6]="BHARAT"

# list changed:
countryP

['Perú',
 'Suecia',
 'Rusia',
 'Colombia',
 'Inglaterra',
 'Senegal',
 'BHARAT',
 'España']

In [ ]:
%%R
countryR[[4]]="nike"

# list changed:
countryR

[[1]]
[1] "Perú"

[[2]]
[1] "Suecia"

[[3]]
[1] "Rusia"

[[4]]
[1] "nike"

[[5]]
[1] "Inglaterra"

[[6]]
[1] "Senegal"

[[7]]
[1] "India"

[[8]]
[1] "España"

### By Value

In [ ]:

countryP[countryP=='Perú']="INCAS"

In [ ]:
%%R
countryR[countryR=='India']="Chile"
countryR

[[1]]
[1] "Perú"

[[2]]
[1] "Suecia"

[[3]]
[1] "Rusia"

[[4]]
[1] "nike"

[[5]]
[1] "Inglaterra"

[[6]]
[1] "Senegal"

[[7]]
[1] "Chile"

[[8]]
[1] "España"

## Deleting

### By Position

In [ ]:
del countryP[-5] #last value

# list changed:
countryP

['INCAS', 'Suecia', 'Rusia', 'Inglaterra', 'Senegal', 'BHARAT', 'España']

In [ ]:
%%R
countryR[length(countryR)]=NULL
countryR

[[1]]
[1] "Perú"

[[2]]
[1] "Suecia"

[[3]]
[1] "Rusia"

[[4]]
[1] "nike"

[[5]]
[1] "Inglaterra"

[[6]]
[1] "Senegal"

[[7]]
[1] "Chile"

In [ ]:
# 'del' works for several positions

listP=[2,3,5,7,11,13]
del listP[2:4]  #elimino desde posicion 2 hasta uno antes del 4

#now:
listP

[2, 3, 11, 13]

In [ ]:
%%R

listR=list(2,3,5,7,9,11,13)
listR[3:5]=NULL

#now:
listR

[[1]]
[1] 2

[[2]]
[1] 3

[[3]]
[1] 11

[[4]]
[1] 13

In [ ]:
# non consecutive
listP=[2,30,9,22,23,4]
byeIndex=[1, 3, 5] #se eliminan no en intervalos sino según el orden puesto
listP=[listP[i] for i in range(len(listP)) if not i in byeIndex]
listP

[2, 9, 23]

In [ ]:
%%R
listR=list(2,30,9,22,23,5)
listR[c(1,3,5)]=NULL
listR

[[1]]
[1] 30

[[2]]
[1] 22

[[3]]
[1] 5

### by Value

In [ ]:
# by value
listP=[28,'A',19,'G','M']
listP.remove('M')

# list changed:
listP # just first ocurrence of value!!

[28, 'A', 19, 'G']

In [ ]:
# deleting every  value:

listP=[28,'A',22,'L','E']
listP=[p for p in listP if not p in [22]]

# you get:
listP

[28, 'A', 'L', 'E']

In [ ]:
%%R

listR=list(19,'U',45,'AL','SC')
listR=listR[!listR %in% list('U')]
listR

[[1]]
[1] 19

[[2]]
[1] 45

[[3]]
[1] "AL"

[[4]]
[1] "SC"

## Inserting values

In [ ]:
# at the end
listP=['PER',28,'DIN',12,'FRA',1998]
listP.append("2018")
listP

['PER', 28, 'DIN', 12, 'FRA', 1998, '2018']

In [ ]:
# at the end
listP=[26,'SUMMER']
listP.append("ENERO")
listP

[26, 'SUMMER', 'ENERO']

In [ ]:
# at the end
listP=['PER',28]
listP.append("JULIO")
listP

['PER', 28, 'JULIO']

In [ ]:
%%R
listR=list(22,'A',28,'L','E')
listR=append(listR,'RIA')
listR

[[1]]
[1] 22

[[2]]
[1] "A"

[[3]]
[1] 28

[[4]]
[1] "L"

[[5]]
[1] "E"

[[6]]
[1] "RIA"

In [ ]:
# specific position
listP=[28,12,'A','R','I','A']
listP.insert(3,"LE")
listP

[28, 12, 'A', 'LE', 'R', 'I', 'A']

In [ ]:
%%R
listR=list(12,28,'U','G')
listR=append(listR,'F',after=2)
listR

[[1]]
[1] 12

[[2]]
[1] 28

[[3]]
[1] "F"

[[4]]
[1] "U"

[[5]]
[1] "G"

## Concatenating

In [ ]:
listA_P=['AL','U','SC']
listB_P=[28, 19, 7]
listA_P + listB_P

['AL', 'U', 'SC', 28, 19, 7]

In [ ]:
listA2_P=['SB','MELGAR','CIENCIANO']
listB2_P=[22, 10, 9]
listA2_P.extend(listB2_P)
listA2_P

['SB', 'MELGAR', 'CIENCIANO', 22, 10, 9]

In [ ]:
%%R
listA_R=list('MANCHESTER','LIVERPOOL','REAL MADRID')
listB_R=list(10, 8 , 14)
append(listA_R, listB_R)

[[1]]
[1] "MANCHESTER"

[[2]]
[1] "LIVERPOOL"

[[3]]
[1] "REAL MADRID"

[[4]]
[1] 10

[[5]]
[1] 8

[[6]]
[1] 14

In [ ]:
#notice
listA1_P=[121,144,169]
listB1_P=['UNMSM', 'UNI']
listA1_P.append(listB1_P)
listA1_P

[121, 144, 169, ['UNMSM', 'UNI']]

In [ ]:
%%R
append(listA_R, listB_R)

[[1]]
[1] "MANCHESTER"

[[2]]
[1] "LIVERPOOL"

[[3]]
[1] "REAL MADRID"

[[4]]
[1] 10

[[5]]
[1] 8

[[6]]
[1] 14