<img src="https://i.imgur.com/6U6q5jQ.png"/>


<a target="_blank" href="https://colab.research.google.com/github/PythonVersusR/basicDataStructures_sets/blob/main/Python_R_Sets.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Sets in Python-Alejandro Huaman--20203800

In [ ]:
## if needed, run this and RESTART KERNEL
import os
os.environ['R_HOME'] ='/Library/Frameworks/R.framework/Resources'

In [ ]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

## 1. Creating

In [ ]:
aSet={1,2,3,5,8,13,21,34}

# then
aSet

{1, 2, 3, 5, 8, 13, 21, 34}

Notice that **sets** do not allow duplicates, and show ordering of values.

## 2. Accessing

You can not use indexes in sets.

In [ ]:
list(aSet)[2] #no se puede usar solo corchetes para buscar un valor de los Sets

3

In [ ]:
#debes agregar la palabra list antes:
list(aSet)[1]

2

## 2. Replacing

You would need to rewrite or delete/add an element:

In [ ]:
# rewriting
bSet={11,12,13,14}
bSet=set(x**2 for x in bSet)
bSet

{121, 144, 169, 196}

In [ ]:
cSet={'AL','U','SC'}
cSet.remove('U')
cSet.add('CDM')
cSet

{'AL', 'CDM', 'SC'}

## 3. Deleting

In [ ]:
dSet={22,23,28,'B','E','A'}
dSet.remove(28) #remove no permite usar valores que no est√©n en los sets

In [ ]:
dSet={2018,2006,2014,'F','I','A'}
dSet.discard('ARG') #discard si permite usar cualquier valor, dentro o fuera de los sets
dSet

{2006, 2014, 2018, 'A', 'F', 'I'}

In [ ]:
dSet={14,16,18,'ALE','POR','FRA'}
toDelete = ['CHILE',15,'FRA']

# keep what is not in toDelete
dSet.difference_update(toDelete)
dSet

{14, 16, 18, 'ALE', 'POR'}

Notice the diference for deleting a set:

In [ ]:
dSet.clear()
dSet #empty the set

set()

In [ ]:
cSet={'AL','U','SC'} #del elimina definitivamente
del cSet

## 5. Inserting

In [ ]:
cSet={'A','L','E'}
cSet.update(('RIA'))
cSet

{'A', 'E', 'L', 'RIA'}

In [ ]:
cSet={'S','O','F'}
cSet.update(('I','A'))
cSet

{'A', 'F', 'I', 'O', 'S'}

## Other operations

If we have these sets:

In [ ]:
set1={'I','M','S','U'}
set2={2,3,5,7}
set3={'AL',2,7,'MAN'}

We could use:

In [ ]:
# union
set4=set1|set2
set4

{2, 3, 5, 7, 'I', 'M', 'S', 'U'}

In [ ]:
#intersection
set5=set1&set3
set5

set()

In [ ]:
# difference:
# set of all the elements to the left that are not present in the right
set6=set2-set3
set6

{3, 5}

In [ ]:
# symmetric difference
# set of elements that are either in the first set or the second set
# but not in both.

set7=set2^set3
set7

{3, 5, 'AL', 'MAN'}

# Sets in R

R does not have a set data structure, but it has _set_ operations for vectors:

In [ ]:
%%R

# some vectors

set1R=c('B','A','S',20)
set2R=c('A',12,13,'G')
set3R=c('CDM',12,13,'TV')

In [ ]:
%%R

union(set1R,set2R)

[1] "B"  "A"  "S"  "20" "12" "13" "G"

In [ ]:
%%R

intersect(set1R,set3R)

character(0)

In [ ]:
%%R

setdiff(set2R,set3R)

[1] "A" "G"

In [ ]:
%%R

#simmetric difference
setdiff(union(set2R,set3R),intersect(set2R,set3R))

[1] "A"   "G"   "CDM" "TV"

Notice set operations in R:

In [ ]:
%%R

set1R=c('S','M','G','J','GER') #not a set
set2R=c(1,7,9,30,12)#not a set
union(set1R,set2R) #si bien los 2 anteriores no son sets, el resultado si da un set

 [1] "S"   "M"   "G"   "J"   "GER" "1"   "7"   "9"   "30"  "12"